<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.marius.vbay">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name="com.wirvsvirus.vbay.frontend.neuerEinkauf"></activity>
    <activity android:name="com.wirvsvirus.vbay.frontend.MenuBedarf" />
    <activity android:name="com.wirvsvirus.vbay.frontend.EinkaufAbschliessen" />
    <activity android:name="com.wirvsvirus.vbay.frontend.AktiveEinkaefe" />
    <activity android:name="com.wirvsvirus.vbay.frontend.newListInDetail" />
    <activity android:name="com.wirvsvirus.vbay.frontend.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.wirvsvirus.vbay.frontend.SignUp" />
    <activity android:name="com.wirvsvirus.vbay.frontend.SignIn" />
    <activity android:name="com.wirvsvirus.vbay.frontend.MenuHelfer" />
    <activity android:name="com.wirvsvirus.vbay.frontend.EinkaufUebersicht" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.READ_PROFILE" />

  <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
